.img {
  display: none;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
    overflow-y: visible;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .lists ul {
    display: flex;
    margin-right: 200px;
  }

  .lists ul li a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #344563;
    cursor: pointer;
  }
}
