.img {
  display: none;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
    overflow-y: visible;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .lists ul {
    display: flex;
    margin-right: 200px;
  }
  .lists ul li a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: #344563;
    cursor: pointer;
  }

  .logo {
    margin-left: 50px;
  }

  h1 {
    margin-top: 31px;
    padding-left: 127px;
    margin-left: 100px;
  }

  .subcontent p {
    padding-left: 127px;
    margin-left: 100px;
    width: 70%;
    font-size: 15px;
    color: #344563;
  }

  h4 {
    padding-left: 207px;
    margin-top: 8px;
  }

  span {
    color: #6b778c;
  }

  .subcontent ul li {
    margin-left: 194px;
    margin-right: -190px;
    display: inline-block;
  }

  .subcontent {
    background: no-repeat center/100% url('./img/Headerbg-1.svg');
    min-height: 841px;
  }

  .canopy-card {
    background: #e5e5e5;
    width: 100%;
  }
}
