html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  color: #6070ff;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  color: #172b4d;
  margin: 130px 0 10px 0;
}

h4 {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #7f8cff;
}

ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  background: no-repeat center/100% url("./img/header-shapes mobile.svg");
  height: 85vh;
}

.subcontent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

ul li {
  margin-right: 10px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: #172B4D;
}

h3 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #344563;
}

h3 span {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #7A869A;
}

h5 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  color: #172B4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

}

.canopy-card {
  background: #E5E5E5;
}

.snapshoot-portfolio {
  width: 100%;
  margin: 0 auto;
}

.canopy-card-section {
  display: flex;
  background: #FFFFFF;
  height: 580px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  flex-direction: column;
  border: 1px solid #DFE1E6;
  margin: 70px auto;
}

.canopy-second-card-section {
  background: #FFFFFF;
  height:  610px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #DFE1E6;
  margin: 70px auto;

}

.canopy-third-card-section {
  background: #FFFFFF;
  height: 573px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #DFE1E6;
  margin: 70px auto;

}

.canopy-fourth-card-section {
  background: #FFFFFF;
  height: 610px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #DFE1E6;
  margin: 70px auto;

}

.project-card {
  width: 100%;
  margin: -5px auto;
  
}

.project-card p { 
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;

}

.project-card li {
  display: inline-block; 
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03;
  color: #6070FF;
  background: #EBEBFF;
  margin-right: 5px;
  padding: 7px;
  list-style: none;
  border-radius: 8px;

}

.project-card ul {
  padding: 0;
}

.project-card button {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03;
  color: #396DF2;
  border: 1px solid #396DF2;
  padding: 7px 16px;
  margin: 16px auto;
  border-radius: 8px;
  background: #FFFFFF;
  cursor: pointer;
  flex-wrap: wrap;
}

.skill p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;

}

.social_media p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #7F8CFF;
  
}

.social_media ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: -20px;
}

button {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03;
  color: #396DF2;
  border: 1px solid #396DF2;
  padding: 10px 21px;
  margin: 16px auto;
  margin-left: 20px;
  border-radius: 8px;
  background: #FFFFFF;
  cursor: pointer;
  flex-wrap: wrap;
}

.languages img {
  height: 72px;
  width: 327px;
  left: 0px;
  top: 0px;
  margin-left: 20px;
}

.my-skills img {
  width: 303px;
  left: 30px;
  top: 12px;
  border-radius: 8px;
  height: 68px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 0;
  margin-left: 34px;
  padding-right: 240px;
  padding-left: 10px;
  background: #F7F7F9;
}
