html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

header {
  display: flex;
  width: 100%;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
}
#logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  color: #6070ff;
  text-decoration: none;
}

.icons {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  z-index: 20;
  color: #6070ff;
}

.display-icon {
  display: block;
  margin-top: -7px;
}

.no-display-icon {
  display: none;
  width: 20px;
  margin: 1.3rem;
  margin-top: 1px;
}

.open-menu .display-icon {
  display: none;
}

.open-menu .no-display-icon {
  display: block;
  color: #fff;
}

.ul-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  padding-top: 130px;
  padding-left: 10%;
  padding-right: 90%;
  height: 820px;
  background-color: #6070ff;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transform: translateX(-100%);
  transition: transform 1s;
}

.ul-list li {
  padding-top: 1rem;
}

.ul-list li a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

.open-menu .ul-list {
  transform: translateX(0);
  z-index: 5;
}

#logo {
  font-size: 25px;
  color: #6070ff;
  text-decoration: none;
  font-weight: 900;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  color: #172b4d;
  margin: 130px 0 10px 0;
}

h4 {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #7f8cff;
}

.let {
  margin-top: -5px;
}

ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1px;
}

.img-card {
  width: 100%;
}

.content {
  background: no-repeat center/100% url('./img/header-shapes mobile.svg');
  height: 691px;
}

.subcontent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

ul li {
  margin-right: 10px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: #172b4d;
}

.stories {
  margin-top: 25px;
}

h3 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #344563;
}

h3 span {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #7a869a;
}

h5 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  color: #172b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto;
}

.canopy-card {
  background: #f7f7f9;
  padding: 20px 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.snapshoot-portfolio {
  margin: 0 auto;
}

.canopy-card-section {
  display: flex;
  background: #fff;
  height: 580px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  margin: 15px auto;
}

.canopy-second-card-section {
  background: #fff;
  height: 628px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  margin: 15px auto;
}

.canopy-third-card-section {
  background: #fff;
  height: 584px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  margin: 15px auto;
}

.canopy-fourth-card-section {
  background: #fff;
  height: 583px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  margin: 15px auto;
}

.project-card {
  width: 100%;
  margin: -5px auto;
}

.project-card p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
}

.project-card li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03;
  color: #6070ff;
  background: #ebebff;
  margin-right: 5px;
  padding: 7px;
  list-style: none;
  border-radius: 8px;
}

.project-card ul {
  padding: 0;
}

button {
  font-size: 15px;
  font-weight: 500, bold;
  line-height: 24px;
  letter-spacing: 0.03;
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 10px 18px;
  margin: 13px auto;
  margin-right: 176px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  flex-wrap: wrap;
}

button:hover {
  color: #fff;
  background: #6070ff;
  border: 1px solid #fff;
}

.project-card button {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 7px 16px;
  margin: 16px auto;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  flex-wrap: wrap;
}

.about button {
  margin: 20px 0 20px 0;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.project-card button:hover {
  color: #fff;
  background: #396df2;
}

.skill p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

.about {
  background: white;
  border-top-right-radius: 80px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 84%;
  margin: 0 auto;
}

.about h2 {
  margin-top: 100px;
}

.about li {
  display: inline-block;
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.about .connect {
  margin-top: 0;
  color: #7f8cff;
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.navbar li:hover {
  cursor: pointer;
  border-bottom: 1px solid orangered;
}

.about h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.cnt {
  margin-bottom: 50px;
  color: #344563;
  font-size: 20px;
}

.about button:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #fff;
}

.contact {
  background-color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./img/contact form shapes-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0 top 5px;
  background-color: #6070ff;
  border-top-left-radius: 85px;
  margin-top: 50px;
}

.contact h6,
.contact p {
  color: white;
  text-align: center;
}

.contact h6 {
  margin-top: 80px;
  font-size: 40px;
}

.contact p {
  margin: 0;
  max-width: 480px;
  padding: 0 30px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;
  align-items: center;
  margin-top: 30px;
}

input,
textarea {
  font: inherit;
  width: 300px;
  border-radius: 0.5rem;
  padding: 10px;
  outline: none;
  border: none;
}

form > * {
  margin-bottom: 10px;
}

textarea {
  height: 9rem;
}

.x {
  display: flex;
}

small {
  color: red;
}

.lists ul {
  display: none;
}

.lists ul li a {
  margin-right: 10px;
  padding-right: 45px;
}

.abt p {
  max-width: 80%;
  margin-left: 20px;
}

.languages ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.languages ul p {
  margin: -35px;
  margin-top: 10px;
  margin-left: -7px;
  font-size: 15px;
  color: #000;
}

.languages i {
  margin-left: 280px;
  margin-top: 19px;
  margin-bottom: 30px;
  color: #505f79;
}

.frames img {
  margin-left: 9px;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.frameworks ul p {
  margin: -35px;
  margin-top: 19px;
  margin-left: -7px;
  font-size: 16px;
  color: #000;
}

.frameworks i {
  margin-left: 282px;
  margin-top: 20px;
  color: #505f79;
}

.skills-2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.skills-2 ul p {
  margin: -35px;
  margin-top: 10px;
  margin-left: -7px;
  font-size: 16px;
  color: #000;
}

.skills-2 i {
  margin-left: 282px;
  margin-top: 20px;
  color: #505f79;
}

.frames-1 {
  display: none;
}
